
<div class="card">
  <%= form_with(model: post, data: { controller: "voice-input"}) do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: 'mb-3' %>
    </div>

    <div>
      <%= form.text_area :context, data: { voice_input_target: 'input' } %>
      <div data-action="click->voice-input#record" style="cursor:pointer; text-decoration: underline;" data-target="voice-input.startButton">
        Start Recording
      </div>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>

